* {
    box-sizing: border-box;
}

body,html{
	font-family:'Poppins', sans-serif;
	min-height:100%;
	background-color:#cccccc;
	margin:0;
	padding:0;
}

body a{
	text-decoration:none;
	color:#000000;
}


body a:hover{
	text-decoration:none;
	color:#000000;
}

.admin-dashboard{
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	padding:0;
}

.admin-box{
	padding:0;
}

.profile-box{
	padding-top:50px;
	background-color:#FFFFFF;
	width:100%;
	border:1.5px solid #a7a7a7;
	margin-bottom:20px;
	padding-bottom:20px;
        height: 100%;
}

.profile-img{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	padding-left:50px;
	padding-right:50px;
}

.name{
	margin-top:10px;
	text-align:center;
}

.time{
	margin-top:20px;
	text-align:center;
	margin-bottom:24px;
        font-size: 8px;
}


@media only screen and (min-width: 768px) {
	
    .time h1{
		font-size:58px;
	}
}


.option-box{
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	background-color: #fafafa;
	min-height:201.8px;
	width:100%;
	border:1.5px solid #a7a7a7;
	padding:10px;
	text-align:center;
}

.option-box h5{
	margin-top:10px;
	margin-bottom:10px;
}

.option-box-img{
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	width:90px;
	height:90px;
}

.admin-reg{
	background-color:#FFFFFF;
	border:1.5px solid #eaeaea;
	padding-left:100px;
	padding-right:100px;
}

.admin-rg{
	padding-left:50px;
	padding-right:50px;
}

.admin-reg h3{
	text-align:center;
}

.admin-menu{
	background-color:#FFFFFF;
	width:100%;
	margin-bottom:20px;
}

.admin-menu ul{
	list-style:none;
	border-top:1.5px solid #eaeaea;
	border-left:1.5px solid #eaeaea;
	border-right:1.5px solid #eaeaea;
	margin:0;
	padding:0;
	width:100%;
}

.admin-menu li{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	border-bottom:1.5px solid #eaeaea;
	width:100%;
	padding-right:20px;
}

.admin-menu li:hover{
	background-color:#b8b8b8;
	border-bottom:2px solid #eaeaea;
}

.border-box{
	width:100%;
	text-align:center;
	padding:10px;
	margin-bottom:39px;
}

.label{
	height:50px;
}

.logout-img{
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:35px;
	width:60px;
	height:60px;
}

.scroll-users {  
    height: 600px !important;
    overflow: scroll;
}

.scroll-movies {  
    height: 600px !important;
    overflow: scroll;
}

.filter-bar{
    
    align-items: center;
}

table td {
    align-content: center;

}

table td a {
    align-content: center;

}

table td button {
    align-content: center;
    margin-right: 12px;
    

}

table td button.btn {
    
    margin-right: 12px;
    font-size: 18px;
    padding: 6px 10px;
}

table td a.btn {
    
    margin-right: 12px;
    font-size: 18px;
    padding: 6px 10px;
}

.error {
	
	color: red;
	
}

.invalid input:required:invalid {
  background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654;
}




