body,html{
	font-family:'Poppins';
	min-height:100%;
        margin:0;
        padding:0;
}

.modal-header, .modal-body, .modal-footer{
  padding: 25px;
}

.modal-footer{
  text-align: center;
}

.combo-contain{
	font-family:verdana;
	padding:20px;
	background-color: #F5F5F5;
	border:1.5px solid #f0f0f0;
	text-align: center;
}


.history-box{
	margin:20px;
}

.ticket{
	padding:30px;
	margin-top:50px;
	background-color:#FFFFFF;
	border:1.5px solid #f0f0f0;
	margin-bottom:50px;
}

.print{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.error {
	color:red;
}
 


